{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Crear Automóvil</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}">
    <!-- CSS Principal de Datta Able -->
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
</head>
<body>
    <div class="container mt-5">
        <h1 class="mb-4">Agregar Nuevo Automóvil</h1>
        <form method="POST" class="border p-4 rounded shadow-sm">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Guardar</button>
        </form>
    </div>

    <!-- Bootstrap JS -->
    <script src="{% static 'bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>